### If-elseif-else

In [1]:
x = 0
if x > 0
    println("$x is greater than 0, hence +ve")
elseif x < 0
    println("$x is less than 0, hence -ve")
else
    println("x equals 0")
end

x equals 0

### Ternary Operator

In [2]:
x = 3
x > 0 ? println("$x is greater than 0, hence +ve") : x < 0 ? println("$x is less than 0, hence -ve") : println("x equals 0")

3 is greater than 0, hence +ve

### For Loop

In [3]:
x = 5
for i in -5:x    
    println("Iteration: $i")
end

Iteration: -5
Iteration: -4
Iteration: -3
Iteration: -2
Iteration: -1
Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5

### While Loop

In [4]:
x = 10
while x > 0
    println("Value of x is $x")
    x -= 1
end

Value of x is 10
Value of x is 9
Value of x is 8
Value of x is 7
Value of x is 6
Value of x is 5
Value of x is 4
Value of x is 3
Value of x is 2
Value of x is 1

### Function

In [5]:
function addition(a,b)
    output = a+b
    return (output)
end

function multiplication(a,b)
    output = a*b
    return (output)
end

println(addition(10,12))
println(multiplication(10,12))
println(multiplication(5, addition(2,4)))

22
120
30

### Single-Line Function

In [6]:
square(x) = x^2

println(square(5))

25

### Anonymous Function

In [7]:
((x,y) -> x^2 + y^2)(6,3)

45

In [8]:
((x,y) -> 3x + 2y)(4,3)

18

### Scope Variables

In [9]:
function variable_scope(x)
    y=2
    return x+y
end

#print(y)
print(variable_scope(3))

5

### Array Operations : Push, Deleteat

In [10]:
array1 = [1,2,3,4,5]

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [11]:
push!(array1, 6)

6-element Vector{Int64}:
 1
 2
 3
 4
 5
 6

In [12]:
array = [0]
for i in 1:5
    push!(array,i)
end
println(array)

[0, 1, 2, 3, 4, 5]

In [13]:
pop!(array)
println(array)

[0, 1, 2, 3, 4]

In [14]:
deleteat!(array, 1) #delete element at an index
println(array)

[1, 2, 3, 4]

In [15]:
tuple1 = (1,2,3,4,5)
#deleteat!(tuple1,5)
push!(tuple1,2)

LoadError: MethodError: no method matching push!(::NTuple{5, Int64}, ::Int64)
The function `push!` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  push!(::Any, ::Any, ::Any)
   @ Base abstractarray.jl:3529
  push!(::Any, ::Any, ::Any, ::Any...)
   @ Base abstractarray.jl:3530
  push!(::BitSet, ::Integer)
   @ Base bitset.jl:255
  ...

### Dictionary

In [16]:
student1 = Dict("Name" => "A", "Roll" => 1, 1 => "one", 'c' => 2)
student2 = Dict("Name" => "B", "Roll" => 2)

Dict{String, Any} with 2 entries:
  "Roll" => 2
  "Name" => "B"

In [17]:
println(student1["Name"])
println(student2["Name"])

A
B

### Sets

In [ ]:
A = Set([1, 2, 3])
B = Set([3, 4, 5])

println(union(A, B))
println(intersect(A, B))
println(setdiff(B, A))

Set([5, 4, 2, 3, 1])
Set([3])
Set([5, 4])